// style="opacity: 0; transform: translate(0%, 30%) matrix(1, 0, 0, 1, 0, 0);"
.move {
  animation: moveToLeft 1s ease-in forwards;
}

@keyframes moveToLeft {

  0% { transform: translate3d(0, 0, 0); }

  66% { transform: translate3d(-50%, 0, 0); animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }

  100% { transform: translate3d(-60%, 0, 0); }
}

.moveBack {
  animation: moveToRight .6s ease-in forwards;
}

@keyframes moveToRight {

  0% { transform: translate3d(-50%, 0, 0); }

  57% { transform: translate3d(-30%, 0, 0); animation-timing-function: cubic-bezier(.44,.76,.46,.9); }

  100% { transform: translate3d(0, 0, 0);  }
}


// .goToContact {
//   animation: clipContact .6s ease-in forwards;
// }

@keyframes goContact {

  0% { z-index: 2; opacity: 0; }

  10% { z-index: 2; opacity: 0; }

  100% { z-index: 2; opacity: 1; }
}

.goToHome {
  animation: goHome .8s ease-in forwards;
}

@keyframes goHome {

  0% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); z-index: 2; opacity: 1; }

  30% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); z-index: 2; opacity: 1; }

  60% { clip-path: polygon(6% 0, 100% 0%, 100% 100%, 28% 100%); }

  100% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); z-index: 2; opacity: 1; animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
}

.overlay__animation2 {
  animation: clipContact 1s ease forwards;
}

// @keyframes clipContact {
//
//   0% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); z-index: 2; opacity: 1; }
//
//   // 33% { clip-path: polygon(63% 0, 100% 0, 100% 100%, 89% 100%); -webkit-animation-timing-function: linear; }
//
//   66% { clip-path: polygon(19% 0, 100% 0, 100% 100%, 58% 100%); opacity: 1; animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); }
//
//   100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); z-index: 2; opacity: 1; }
// }

.form__container {
  width: 90%;
  padding-top: 3.5rem;
}

.contact {
  opacity: 1;
  position: fixed;
  z-index: 5;
  left: 100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark;
  overflow-y: scroll;
  transition: opacity 1s;
  // transform: rotate(-12deg) scale(1/4);
  // transform-origin: bottom;


  &__form {
    opacity: 1;
    // margin-top: 2rem;
    max-width: 500px;
    // padding: 4rem 4rem 0 4rem;
    color: white;
    font-family: morion;
    font-size: 35px;
  }

  &__formfield {
    // width: inherit;
  }

  &__text {
    // font-size: 35px;
    display: inline-block;
    white-space: nowrap;
    word-break: break-all;
    width: auto;
  }
}

.contact__select {
  white-space: nowrap;
  // overflow: hidden;
  position: relative;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  appearance: none;
  background: 0 0;
  border-radius: 0;
  border: 0;
  padding: 0;
  width: auto;
  margin: 0;
}

.contact__select__hide {
  width: 1px;
  height: 1px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.contact__select__trigger {
  cursor: pointer;
  font-size: 35px;
  color: $blue;
  font-weight: 100;
}

.contact__select__options {
  opacity: 0;
  top: 3.5rem;
  background-color: white;
  list-style: none;
  position: absolute;
  color: $dark;
  font-size: 15px;
  padding: 16px 30px;
  border-bottom: 1px;
  transition: all .5s ease;
  box-shadow: 0 0 50px black;
}

.contact__select__options-style {
  cursor: pointer;
  background-image: linear-gradient($blue 0,$blue 100%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 90%;
  margin: 4px 0;
  color: $blue;
}

.openOptions {
  opacity: 1;
  top: 3rem;
}


.contact__form input[type=text], .contact__form input[type=email] {
  // display: block;
  margin: 0;
  border: 0;
  background: 0;
  outline: 0;
  font-family: morionregular;
  font-size: 35px;
  color: $blue;
  width: auto;
  background-image: linear-gradient($blue 0,$blue 100%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 90%;
  padding-bottom: 1.9rem;
  padding-left: 0;
  padding-right: 0;
}

.contact__form input[type=text]::placeholder, .contact__form input[type=email]::placeholder {
  font-family: morionregular;
  font-size: 35px;
  color: $blue;
}

.contact__form input[type=text]:focus, .contact__form input[type=email]:focus {
  background: none;
  border: none;
  box-shadow: none;
  background-image: linear-gradient(white 0,white 100%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 90%;
}

.contact__form input[type=submit] {
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
  margin-top: 2rem;
  font-family: Roboto;
  font-size: 20px;
  padding: .8rem;
  border: .03rem white solid;
  display: block;
  color: white;
}

.contact__back {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  overflow: hidden;
}

.contact__back__arrow {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: .9rem;
  transform: scaleX(1) translateZ(0);
  transform-origin: 50% 0;
  transition: transform .8s cubic-bezier(.23,1,.32,1);
  will-change: transform;
  overflow: hidden;

  &:hover {
    transform: translateX(-.8rem);
  }
}

.contact__info__container {
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  padding-bottom: 3.5rem;
  // padding: 0 3rem 3rem 3rem;
  // bottom: 5rem;
  width: 100vw;
  margin-top: 8rem;
  font-size: 15px;
  color: white;
  font-family: Roboto;
}

.contact__info {
  width: 90vw;

  &__details {
    max-width: 600px;
  }
}

.makeContact {
  opacity: 1;
  margin-top: -5rem;
  padding: 0;

  &__title {
    letter-spacing: .1rem;
    font-weight: 800;
    padding-bottom: 1.2rem;
  }

  &__text {
    letter-spacing: .07rem;
    line-height: 1.6rem;
  }
}

.address {
  opacity: 1;
  margin-top: -5rem;
  padding: 0;

  &__title {
    letter-spacing: .1rem;
    font-weight: 800;
    padding-bottom: 1.2rem;
  }

  &__text {
    letter-spacing: .07rem;
    line-height: 1.6rem;
  }
}

.social {
  padding:0;
  display: flex;
  justify-content: flex-end;

  &__facebook {
    margin: .5rem;
    width: 2rem;
    height: 2rem;
    background-image: url(../images/facebookContact.svg);
    background-position: center;
    background-size: 2rem;
  }

  &__instagram {
    margin: .5rem;
    width: 2rem;
    height: 2rem;
    background-image: url(../images/instagramContact.svg);
    background-position: center;
    background-size: 2rem;
  }

  &__linkedin {
    margin: .5rem;
    width: 2rem;
    height: 2rem;
    background-image: url(../images/linkedinContact.svg);
    background-position: center;
    background-size: 2rem;
  }
}
