.projects__overlay {
  // font-family: morionregular;
  pointer-events: none;
  opacity: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundlogo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: 300px 300px;
}

.item2 {
  margin-right: 0;
}

.overons__overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: $blue;
}

.overons__overlay2 {
  position: fixed;
  z-index: 11;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: $dark;
}

#bm {
  height: 44rem;
  width: 50rem;
  margin: 0 auto;
}

@include add-foundation-colors;
.overlay__loading__animation {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark;
  z-index: 14;
}

.overlay {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark;
  // z-index: 10;
  // clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  // animation: overlayAnimation 1s 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}

// @keyframes overlayAnimation {
//
//   0% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
//
//   100% { clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); z-index: 1; }
// }

.overlay__loading {
  display: flex;
  align-items: center;
  position: fixed;
  top: -100vh;
  left: calc(-100vw + 1rem);
  width: 100vw;
  height: 100vh;
  background-color: $blue;
  z-index: 20;
}
  // clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  // animation: overlayLoadingAnimation 3s ease forwards;


// .overlay__loading__animation {
//   animation: overlayLoadingAnimation 3s ease forwards;
// }
//
// @keyframes overlayLoadingAnimation {
//
//   0% { clip-path: polygon(0 0, 1% 0, 1% 0, 0 0); }
//
//   30% { clip-path: polygon(0 0, 1% 0, 1% 51%, 0 51%); }
//
//   88% { clip-path: polygon(0 0, 1% 0, 1% 100%, 0 100%); }
//
//   100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); z-index: 1; }
// }





.testing {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: $blue;
}

.nav {
  width: 90vw;
  padding: 2rem 0;
}

nav ul {
  margin-bottom: 0;
}

.nav__item {
  font-family: Roboto;
  list-style: none;
  color: white;;
  font-size: 19px;
  // letter-spacing: .04rem;

  & a {
    text-decoration: none;
    color: white;;
  }
}

// a:hover {
//   background-color: $dark;
// }

.nav__item__contact {
  cursor: pointer;
  text-align: right;
  // margin-left: 3rem;
}

.info__dickytallContainer {
  border-bottom: .2rem solid #2B3338;
}

.tilt2 {
  position: absolute;
  left: 60%;
  bottom: 4%;
  width: 38rem;
  height: 70%;
  transform: translateY(0) translateX(-20%) translateZ(9rem);
  background-image: url(../images/header_front.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}
.tilt3 {
  background-image: url(../images/header_front3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  max-width: 100%;
  height: 7%;
  width: 30rem;
  position: absolute;
  left: 58%;
  top: 14%;
  -webkit-transform: translate(-50%, -50%) translateZ(5rem);
  transform: translate(-50%, -50%) translateZ(5rem);
}

.hallo,
.hallo1,
.hallo2,
.hallo3,
.hallo4,
.hallo5,
.hallo6,
.hallo7,
.hallo8,
.hallo9 {
  display: inline-block;
}


.dickytall {
  // transition: all .25s;
  position: relative;
  // margin: 0 auto;
  // width: 90vw;
  // height: 90vh;
  // min-height: 20rem;

  &__image {
    min-height: 38rem;
    // will-change: transform;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
    width: 85vw;
    background-image: url(../images/header2.jpg);
    height: calc(95vh - 139px);
    margin: 0 auto;
    background-size: cover;
    background-position: center;
  }

  &__text {
    max-width: 560px;
    position: absolute;
    top: calc(50% - 5.9rem);
    left: -4rem;
    font-size: 35px;
    color: white;
    font-family: morionregular;
    transform: translateY(0) translateX(4rem) translateZ(10rem);
    -webkit-transform: translateY(0) translateX(4rem) translateZ(10rem);
  }
}

.projects {
  // margin-top: 3rem;
  margin-bottom: 2rem;
  transition: all .25s;
}

.projects-margin {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.project {
  position: relative;
  height: 340px;
  margin-top: 2rem;

  &__image {
    height: 340px;
    width: 100vw;
    object-fit: cover;
  }

  &-margin {
    margin-top: 2rem;
  }

  &__title {
    display: none;
  }

  &__first {
    background-image: url(../images/project1.jpg);
    background-size: cover;
    background-position: center;
  }

  &__second {
    background-image: url(../images/project3.jpg);
    background-size: cover;
    background-position: center;
  }

  &__third {
    background-image: url(../images/project2.png);
    background-size: cover;
    background-position: center;
  }

  &__fourth {
    // background-image: url(../images/project3.jpg);
    // background-size: cover;
    // background-position: center;
    width: 100vw;
    // height: 100vh;
    object-fit: cover;
  }

  &__title {
    width: 60%;
    padding: 2rem;
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    color: white;
    font-size: 20px;

    &__mobile {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    padding-right: 4rem;
    padding-bottom: 2rem;
    z-index: 3;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 10px;
    background-image: url(../images/arrow_right.svg);
    background-repeat: no-repeat;

  }

  &__overlay {
    cursor: pointer;
    opacity: 0;
    background-color: $dark;
    width: 100%;
    height: 100%;
  }
}

.projects__button {
  display: flex;
  justify-content: center;

  &__link {
    position: relative;
    letter-spacing: .05rem;
    text-decoration: none;
    color: white;
    border: .05rem white solid;
    padding: .4rem 1.2rem;
    font-family: Roboto;
    font-size: 18px;
    transition: all .3s;
  }
}

/* Button 1c */
.projects__button__link:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	// transition: all 0.3s;
  transition-timing-function: cubic-bezier(.5,0,.2,1);
}

.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
}

.btn-1c:hover,
.btn-1c:active {
	color: $dark;
}

.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}

.info {
  margin-top: 6rem;
  width: 100vw;
  // height: 20rem;
  background-color: $dark;
  color: white;
  font-family: Roboto;

  &__intro {
    font-size: 20px;
    padding-top: 4rem;
    // border-bottom: .2rem solid #2B3338;
    padding-bottom: 4rem;
    transition: padding-top 1s cubic-bezier(0,.7,.1,1),opacity 1s cubic-bezier(.5,0,.2,1);

    &__style {
      max-width: 19rem;
    }
  }

  &__dickytall {
    font-size: 15px;
    padding-top: 4rem;
    line-height: 2.3rem;
    // border-bottom: .2rem solid #2B3338;
    padding-bottom: 4rem;
  }

  &__diensten {
    margin-top: 6rem;
    line-height: 2.3rem;
    font-size: 15px;

    &__title {
      letter-spacing: .1rem;
      font-size: 20px;
      color: white;;
    }

    &__image {
      height: 40rem;
      background-image: url(../images/diensten.jpg);
      background-size: cover;
      background-position: center;
      margin-top: 6rem;
    }
  }
}

.info__extra {
  margin-top: -7.5rem;
  background-color: $blue;
  color: white;
  font-family: morionregular;
  font-size: 32px;
  line-height: 3rem;

  &__team {
    font-size: 32px;
    line-height: 3rem;
  }

  &__center {
    width: 30rem;
    margin: 0 auto;
    text-align: center;
  }

  &__email {
    margin-top: 10rem;
    font-family: Roboto;
    font-size: 20px;
    color: white;
  }

  &__newsletter {
    font-family: Roboto;
    color: $blue;
    padding-bottom: 10rem;

    &__email {
      width: 20rem;
      text-align: center;
    }
  }
}
.content {
  // padding-bottom: 4rem;
  text-align: center !important;
}

.content input[type=email] {
  box-shadow: none !important;
  appearance: none !important;
  background: none !important;
  border: none !important;
  outline: none !important;
  outline-color: transparent !important;
  outline-style: none !important;
  font-size: 20px !important;
  color: $dark !important;
  text-align: center !important;
  margin: 0 !important;
  height: 0 !important;
  line-height: 0 !important;
  padding: 1.6rem !important;


  // box-shadow: none;
  // appearance: none;
  // background: none;
  // border: none;
  // outline: none;
  // outline-color: transparent;
  // outline-style: none;
  // font-size: 20px;
  // color: $dark;
  // text-align: center;
  // margin: 0;
  // height: 0;
  // line-height: 0;
  // padding: 1.6rem;
}

.content input[type=email]:focus {
  background: none;
  border: none;
  box-shadow: none;
  // border-bottom: .1rem white solid;
  color: $dark;
  text-align: center;
}

.content input[type=email]::placeholder {
  font-family: Roboto;
  font-size: 20px;
  color: $dark;
  text-align: center;
}

textarea, input, button { outline: none; }

.input--hoshi {
	overflow: hidden;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 1em);
	pointer-events: none;
}

.input__label-content--hoshi {
	position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
	margin-top: 1px;
	border-bottom: 3px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: black;
}


.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	color: #aaa;
	font-weight: bold;
	font-family: Roboto;
}

.input__field:focus {
	outline: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.connect {
  overflow-y: hidden;
  width: 100vw;
  background-color: white;
  color: black;
  font-size: 15px;
  font-family: Roboto;

  &__social {
    letter-spacing: .08rem;
    padding: 10rem 1rem;
    text-align: left;
  }

  &__address {
    letter-spacing: .08rem;
    padding: 10rem 1rem;
    text-align: right;
  }

  &__info__title {
    letter-spacing: .1rem;
    font-family: RobotoBold;
    font-weight: 800;
    padding-bottom: 2rem;
  }
}

.footer {
  background-color: #F8F8F8;

  &__container {
    padding: 5rem 0;
    width: 85vw;
  }

  &__logo {

  }

  &__copyright {
    line-height: 2.3rem;
    font-size: 12px;
    text-align: center;
    color: $dark;
  }

  &__social__icons {
    margin: 0 .2rem;
  }
}


.flex {
  display: flex;
  text-align: center;
  justify-content: center;
}

.click {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.click__overons {
  color: white;
  font-size: 20px;

  &:hover {
    color: white;
  }
}


//---------------NAVMOBILE ----------------

.navMobile {
  display: none;
}

.menu__overlay {
  display: none;
}


// --------------- NOSCROLL-----------------

.noscroll {
  overflow: hidden;
}

@media only screen and (max-width: 1570px)  {

  .tilt2 {
    left: calc(100% - 34rem);
  }
}

@media only screen and (max-width: 1376px)  {

  .dickytall__image {
    // flex: 0 0 91.66667%;
    // max-width: 91.66667% !important;
    width: 1173px;
  }
}

@media only screen and (max-width: 1308px)  {

  .dickytall__text {
    left: 4rem;
  }
}

@media only screen and (max-width: 1200px)  {

  .dickytall__image {
    width: 100%;
  }

  .tilt__image2 {
    left: calc(58% - 25rem);
  }

  .tilt__image1 {
    left: calc(100% - 58rem);
  }

}



@media only screen and (max-width: 1024px)  {

  .tilt__image2 {
    left: calc(58% - 25rem);
  }

  .tilt__image1 {
    left: calc(100% - 50rem);
  }

  .footer__container {
    width: 90vw;
  }

  .dickytall__text {
    left: 2rem;
    font-size: 35px;
  }

  .project__title {
    display: block;
  }

  .contact__form {
    font-size: 30px;
  }

  .contact__form input[type=text]::placeholder, .contact__form input[type=email]::placeholder {
    font-size: 30px;
  }

  .contact__form input[type=text], .contact__form input[type=email] {
    font-size: 30px;
  }

  .contact__select__trigger {
    font-size: 30px;
  }

  //-------------- OVERONS.HTML------------------

  // .header__project__title {
  //   width:
  // }


}

@media only screen and (max-width: 950px)  {



}

@media only screen and (max-width: 850px)  {

  .tilt__image1 {
    left: calc(100% - 45rem);
  }

  .tilt__image2 {
    width: 41rem;
  }

  // ----------------tilt home -----------------

  .dickytall {

    &__image {
      transform-style: none;
      background-image: url(../images/header.jpg);
    }

    &__text {
      transform: translateY(0) translateX(0) translateZ(0);
    }
  }

  .tilt2 {
    display: none;
  }

  .tilt3 {
    display: none;
  }

  // ----------------end tilt -----------------

  .project__title__mobile {
    display: block;
    color: white;
    font-family: Roboto;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .project {
    cursor: pointer;
    height: 293px;

    &__image {
      height: 260px;
    }

    &__overlay {
      display: none;
    }

    &-margin {
      margin-top: 1rem;
    }
  }

  // -----------------PROJECTEN.HTML-------------------
  .header__project__title {
    font-size: 34px;
    max-width: 37rem;
  }

  .related__work {
    font-size: 18px;
  }



  // ---------------- OVER ONS ------------

  .about__title {
    font-size: 34px;
  }

  .about__image {
    height: 30rem;
  }

  .about__hello__text {
    font-size: 15px;
  }

  .about__hello__detailText {
    font-size: 30px;
  }

  .about__strategy__title {
    font-size: 18px;
  }

  .about__strategy__text {
    font-size: 15px;
  }

  .about__diensten__title {
    font-size: 18px;
  }

  .about__diensten__text {
    font-size: 15px;
    line-height: 1.7rem;
  }

  .about__opinion__image {
    height: 15em;
  }

  .about__opinion__text {
    margin-top: 5rem;
  }

  .about__logo {
    height: 10rem;
  }

}

@media only screen and (max-width: 740px)  {
  //----------------NAVMOBILE--------
  .nav {
    pointer-events: auto;
    display: none;
    padding: 0;
  }

  .navMobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: block;

    &__item {
      font-family: Roboto;
      font-size: 19px;
      list-style: none;
      color: white;
      cursor: pointer;
    }
  }

  .menu__overlay {
    display: block;
    opacity: 0;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    top: 0;
    font-family: Roboto;
    width: 100vw;
    height: 100vh;
    background-color: $dark;
    font-size: 22px;
    // font-size: calc(30px + 25 * ((53vw + 53vh) - 600px) / 820);
    pointer-events: none;

    &__size {
      // width: 25rem;
      // position: absolute;
      // height: 20rem;
      // top: calc(50% - 10rem);
    }

    &__item {
      margin-top: 1rem;
      opacity: 1;
      list-style: none;

      & a {
        color: white;
        text-decoration: none;
      }
    }

    &__close {
      height: 105px;
      cursor: pointer;
      font-size: 19px;
      color: white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .input {
    font-size: 17px;
  }

  .info__extra__team {
    letter-spacing: .02rem;
    font-size: 25px;
    line-height: 2.5rem;
  }
  //----------------NAVMOBILE--------
}

@media only screen and (max-width: 640px)  {

  .projects__flex {
    justify-content: center;
  }

  .dickytall__image {
    min-height: auto;
  }

  .project2fadeIn {
    margin-top: 1rem;
  }

  .dickytall__text {
    left: .2rem;
    font-size: 35px;
  }



  //----------------MOBILEPROJECT--------


  .project__title__mobile {
    display: block;
    color: white;
    font-family: Roboto;
    padding-bottom: .5rem;
  }

  .social {
    justify-content: center;
    margin-top: 5rem;
  }

  .contact__info {
    position: unset;
  }

  .address__title {
    padding-top: 1.2rem;
    font-weight: 800;
    padding-bottom: 1.2rem;
  }
  .info__dickytallContainer {
    border: none;
  }


  .info__intro {
    padding-bottom: 0;
    border: none;
  }

  .info__dickytall{
    padding-top: 2rem;
    border: none;
  }

  .info__diensten {

    margin-top: 0;

    &__title {
      padding-bottom: 2rem;
      border: none;
    }

    &__image {
      height: 20rem;
    }
  }

  .connect__address {
    text-align: left;
    padding: 4rem 0 1rem 0;
    padding-left: .9375rem;
  }

  .connect__social {
    text-align: left;
    padding: 4rem 0 4rem 0;
    padding-left: .9375rem;
  }

  .connect__info__text {
    line-height: 2.2rem;
  }

  .footer__logo__image {
    margin: 3rem auto;
    display: block;
  }

  .footer__copyright {
    margin-bottom: 3rem;
  }

  .footer__social {
    margin-bottom: 3rem;
  }

  .footer__social__position {
    justify-content: center;
  }
  //------------PROJECTEN.HTML -----------------

  .header__project__title {
    font-size: 27px;
  }

  .header__project__tag {
    font-size: 16px;
  }

  .header__project__date {
    font-size: 16px;
    padding-bottom: 3rem;
  }

  .header__project__needInfo {
    font-size: 16px;
  }

  .header__text-padding {
    padding-top: 3rem;
  }

  .header__project__solutionInfo {
    font-size: 16px;
  }

  .project__how__text {
    font-size: 15px;
  }

  .related__work {
    font-size: 16px;
    font-weight: 800;
  }

  //------------OVERONS.HTML ----------------

  .mobile__delete {
    display: none;
  }

  .about__image {
    background-image: url(../images/aboutImageTablet.jpg);
  }

  .tilt__image2 {
    display: none;
  }

  .tilt__image1 {
    display: none;
  }

  .about__title {
    margin-top: 3rem;
    font-size: 27px;
  }

  .about__image {
    margin-top: 6rem;
    height: 13rem;
    background-image: url(../images/aboutImageMobile.jpg);
  }

  .about__hello__title {
    font-size: 15px;
  }

  .about__hello__detailText {
    font-size: 24px;
  }

  .about__strategy__title-selected {
    font-size: 16px;
  }

  .about__strategy__title-unselected {
    font-size: 16px;
  }

  .about__strategy__text {
    font-size: 15px;
  }

  .about__diensten__title {
    font-size: 16px;
  }

  .about__diensten__text {
    font-size: 15px;
    line-height: 1.7rem;
  }

  .about__opinion__image {
    height: 14rem;
  }

  .about__opinion__extra {
    font-size: 16px;
  }

  .about__logo {
    margin-top: 2rem;
    height: 6rem;
  }

  .team__partners {
    justify-content: center;
  }

  .team__partner__image {
    height: 17rem;
  }

  .team__partner__name {
    margin-top: 1rem;
  }

  .team__partner__function {
    margin-bottom: 2rem;
  }

  .about__opinion__text {
    margin-top: 2rem;
  }

  .about__opinion__extra {
    margin-bottom: 0;
  }

  .about__hello__title {
    padding-bottom: 2rem;
  }

  .about__diensten__title {
    padding-bottom: 2rem;
  }

  .about__strategy__title {
    padding-bottom: 2rem;
  }


  //---------------CONTACT-OVERLAY---------

  .contact__info__container {
    position: relative;
  }

  .contact__form {
    font-size: 27px;
    max-width: 90%;
  }

  .contact__form input[type=text], .contact__form input[type=email] {
    font-size: 27px;
  }

  .contact__select__trigger {
    font-size: 27px;
  }

  .address {
    margin-top: 1rem;
  }

  .makeContact {
    margin-top: 0rem;
  }

}

@media only screen and (max-width: 550px)  {

  .info__extra__center {
    width: 85vw;
  }

}
